:root{
    --welcome-card-bg :#fff;
    --welcome-text:#fff;
    --wlcome-bg-end: #5d33be;
    --wlcome-bg-start: #8f4cd7;
    --z-index-button-nav:10;
    --welcome-nav-height:64px;
    --welcome-nav-gap:8px;
    --welcome-bg-end:#8f4cd7;
    --transiton-duration:0.5s
}