:root{
    --welcome-card-bg :#fff;
    --welcome-text:#fff;
    --wlcome-bg-end: #5d33be;
    --wlcome-bg-start: #8f4cd7;
    --z-index-button-nav:10;
    --welcome-nav-height:64px;
    --welcome-nav-gap:8px;
    --welcome-bg-end:#8f4cd7;
    --transiton-duration:0.5s;
    --button-bg:#5C33BE;
    --button-text:white;
    --button-font-size:18px;
    --button-radios:4px;
    --button-height:48px;
    --float-button-text:white;
    --float-button-bg:#5C33BE;
    --navbar-bg-start:var(--wlcome-bg-start);
    --navbar-bg-end:var(--welcome-bg-end);
    --navbar-text:white;
    --navbar-text:white;
}