:root {
  --amount-text: #53A867;
  --app-name-text: #7878FF;
  --bg: white;
  --button-bg-danger:red;
  --button-bg:#5C33BE;
  --button-border-color: #ddd;
  --button-font-size:18px;
  --button-height:48px;
  --button-radios:4px;
  --button-text:white;
  --date-text: #999999;
  --dialog-header-text: white;
  --emoji-nav-text-selected: #333;
  --emoji-nav-text: #999;
  --error-color: #E10505;
  --float-button-bg:#5C33BE;
  --float-button-text:white;
  --input-border-color: #5c33be;
  --input-min-height: 48px;
  --input-radius: var(--button-radios);
  --input-shadow: rgba(0,0,0,0.25);
  --list-amount-text: var(--amount-text);
  --list-tag-text: #333;
  --list-time-text: var(--date-text);
  --main: #5c33be;
  --main: #5c33be;
  --navbar-bg-end:var(--welcome-bg-end);
  --navbar-bg-start:var(--wlcome-bg-start);
  --navbar-text:white;
  --number-button-bg-important: #5C33BE;
  --number-button-bg: white;
  --number-button-text-important:white;
  --overlay-bg: white;
  --overlay-mask-bg: rgba(0, 0, 0, 0.5);
  --overlay-user-bg: #5C33BE;
  --overlay-user-text: white;
  --tabs-indicator-bg:white;
  --tag-bg: #EFEFEF;
  --text:#333;
  --text-muted: #666;
  --top-safe-area-height: 24px;
  --total-bg: #252A43;
  --total-expenses: #53A867;
  --total-income: #FE7275;
  --total-text: white;
  --transiton-duration:0.5s;
  --welcome-bg-end:#8f4cd7;
  --welcome-card-bg :#fff;
  --welcome-nav-gap:8px;
  --welcome-nav-height:64px;
  --welcome-text:#fff;
  --wlcome-bg-end: #5d33be;
  --wlcome-bg-start: #8f4cd7;
  --z-index-button-nav:8;
  --z-index-navbar:1;
  --z-index-overlay:16;
  --bar-bg: #CCCCCC;
  }